.title {
  font-size: 48px;
  font-weight: bold;
}

.description {
  line-height: 30px;
  font-size: 24px;
  font-weight: 400;
}

.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 300px;
  width: 400px;
}

.featureTitle {
  line-height: 30px;
  font-size: 24px;
  font-weight: 700;
}

.featureDescription {
  line-height: 24px;
  font-size: 16px;
  font-weight: 400;
}
