.content {
  display: flex;
  flex-direction: column;
}

.header {
  font-size: 48px;
  font-weight: bold;
}

.subHeader {
  line-height: 30px;
  font-size: 24px;
  font-weight: 400;
}

.featureContainer {
  display: flex;
  flex-direction: row;
}

.featureContainer.reverse {
  flex-direction: row-reverse;
}

.copyColumn {
  display: flex;
  order: 1;
}

.copyContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  padding: 3rem;
  max-width: 512px;
}

.primaryText {
  line-height: 30px;
  font-size: 24px;
  font-weight: 700;
}

.secondaryText {
  line-height: 24px;
  font-size: 16px;
  font-weight: 400;
}

.imageColumn {
  display: flex;
  align-items: center;
  max-width: 512px;
}

.image {
  max-height: 400px;
  display: flex;
  align-items: center;
}